.serialBlock{
    display:flex;
    margin:15px;
    flex-wrap:nowrap;
    min-height:200px;
}

.imgWrapper{
    display:inline;
    height:100px;
    width:200px;
    margin-top:5px;
}

.movieInfo{


    padding-left:20px;
}

.title{
    margin:0;
}