.App{
    display:grid;
    grid-template-areas: "header header"
                         "sidebar content"
                         "footer footer";
    grid-template-columns:  200px 1fr;
    grid-template-rows: 100px minmax(300px, 100%) 100px;

}

.appWrapper{
    grid-area:content;
    background-color:gold;
    padding-bottom:50px;
}
